.loader {
  width: 40px;
  height: 100px;
  border-radius: 10%;
  border: 2px dashed teal;
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(0.3);
  }
  to {
    transform: rotate(360deg) scale(1.3);
  }
}